*{
	box-sizing: border-box;
	font-weight: 900;
}
body{
	font-family: Courier;
}
h1{
	text-align: center;

}
.section{
background-color: #999999;
margin: 10px;
float: left;
width:31.33%;
border: 3px solid black;
}

.title{
float:right;
border-left: 3px solid black;
border-bottom: 3px solid black;
width: 8em;
text-align: center;
font-weight: 900;
font-size: 20px;
}

.content{
float: right;
padding: 10px;
}

#t1{
	background-color: #D59898;
}

#t2{
	background-color: #C14543;
	color : #F7E9E9;
}

#t3{
	background-color: #E5D198;
}

/********** Large devices only **********/
@media (max-width: 767px) {
.section{
	width:95%;
}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
#p1,#p2{
	width:45%;
	height: 300px;
}
#p3{
	width:92%;
	height: 200px;
}
}